body {
font-family:"Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}
header {
    border-bottom: 1px solid #e7e9fc;
}
.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 76px;
}
.menu {
    display:flex;
    gap: 40px;
}
.nav {
    padding: 24px 0;
}
img {
    display: block
}
.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.title2 {
    color:#2e2f42;
}
.studio {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.studio:hover,
.studio:active{
color: #404bbf;
}
.portfolio{
font-weight: 500
}
.contacts{
font-weight: 500
}
.address{
    display: flex;
    gap:40px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address:hover,
.address:active {
    color: #404bbf;
}
.section1{
    background-color: #2e2f42;
}
.section1-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}
.first-section {
    padding: 188px 0;
}
.first-section-title{
    max-width: 496px;
}
.button{
    display:block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}
