body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.title2 {
    color: #2e2f42;
}

.nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav:hover, 
.nav:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address:hover,
.address:focus {
    color: #404bbf;
}

.info:hover,
.info:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
}

.first-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer
}
.button:hover,
.button:focus {
background-color: #404BBF;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.second-section-small-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.second-section-paragraf{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.third-section{
    background-color: #F4F4FD;
}
.third-section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.third-section-small-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.third-section-list {
    background-color: #FFFFFF
}
.third-section-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.fourth-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.fourth-section-small-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.fourth-section-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.footer {
    background-color: #2e2f42;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.second-footer-logo {
    color:#F4F4FD
}
.footer-paragraf {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}